<% posts.forEach(function(post, index) {
  if (index % 3 == 0) { %>
    <div class="row">
  <% } %>
      <div class="col-md-4 feed">
        <h2><a href="/u/<%= post.user %>"><%= post.user %></a> 说</h2>
        <p><small><%= post.time.getFullYear() +'.'+ (post.time.getMonth()+1)+'.' + post.time.getDate() %>
          &nbsp&nbsp|&nbsp
          <%= (post.time.getHours()+ 8)+':'+post.time.getMinutes()+':'+post.time.getSeconds() %></small>
        </p>
        <p><strong><%- post.post %></strong></p>
      </div>
    <% if (index % 3 == 2) { %>
    </div><!-- end row -->
    <% } %>
<% }) %>
        <% if (posts.length % 3 != 0) { %>
    </div><!-- end row -->
        <% } %>
